button[disabled] {
  background-color: darkgray;
}

.my-btn-style {
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    background-color:royalblue;
}

.my-post-body:first-letter {
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 2.0em;
    FLOAT: left;
    LINE-HEIGHT: 1.1em;
}