button[disabled] {
  background-color: darkgray;
}

.my-btn-style {
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    background-image: none !important;
    background-color: #4169e1;
}

.my-post-body:first-letter {
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 2.0em;
    FLOAT: left;
    LINE-HEIGHT: 1.1em;
}

.my-post2-body {
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 2.0em;
    FLOAT: right;
    LINE-HEIGHT: 1.1em;
}

/*.my-btn-4 {*/
    /*line-height: 30px;*/
    /*padding:0px 16px;*/
    /*border-radius: 4px;*/
    /*background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #5ab6fc),*/
    /*color-stop(0.02, #1979eb),*/
    /*color-stop(1, #0073c4));*/
    /*color: #fff;*/
    /*border: 1px solid #005b9b;*/

/*}*/
/*.btn-4 {*/
    /*line-height: 30px;*/
    /*padding:0px 16px;*/
    /*border-radius: 4px;*/
    /*background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #5ab6fc), color-stop(0.02, #40eb39), color-stop(1, #0073c4));*/
    /*color: #fff;*/
    /*border: 1px solid #005b9b;*/

/*}*/