button[disabled] {
  background-color: darkgray;
}

.my-btn-style {
    display: inline-block;
    position: relative;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    background-image: none !important;
    background-color: #4169e1;
}

.my-post-body:first-letter {
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 2.0em;
    FLOAT: left;
    LINE-HEIGHT: 1.1em;
}

.my-post2-body {
    PADDING-RIGHT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 2.0em;
    FLOAT: right;
    LINE-HEIGHT: 1.1em;
}

.my-modal {
    /*position: fixed;*/
    /*top: 10%;*/
    /*left: 50%;*/
    /*z-index: 1050;*/
    width: 280px;
    height: 130px;
    margin-left: -130px;
    /*background-color: #ffffff;*/
    /*border: 1px solid #999;*/
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    /**border: 1px solid #999;*/
    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*border-radius: 6px;*/
    /*outline: none;*/
    /*-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);*/
    /*-webkit-background-clip: padding-box;*/
    /*-moz-background-clip: padding-box;*/
    /*background-clip: padding-box;*/
}

.activity-color{
    background-color: #ffff00 !important;
}
