header#activity_list_page.header
  | 活动列表
  .header-right
    button.my-btn-style.btn-4(ng-click='go_create_activity()') 创建活动
ul.list-style-1(style='margin-top: 30px')
  li(ng-repeat='activity in activities ', ng-click='go_activity_sign_up(activity)',class='{{change_color(activity)}}') {{activity.name}}
