
<header class="header" id='activity_sign_up_page'>
    报名({{number}})人
    <div class="header-left">
       <button class="side-slide-trigger btn-style btn-4" ng-click='back_to_activity_list()'>{{Back}}</button>
    </div>
    <div class="header-right">
       <button class="btn-style btn-4" ng-click="click_start_button()"  ng-disabled="show_start_button()" >{{Start}}</button>
    </div>
</header>

<ul class="list-style-1" style="margin-top: 30px">
    <li ng-repeat=" person in people_list_arr " >{{person.name}} {{person.phone}} </li>
</ul>

<footer>
    <ul class="footer-nav footer-nav-2tabs "  align="center">
        <li ><button >报名</button></li>
        <li ><button >竞价</button></li>
    </ul>
</footer>

