
<header >
    创建活动
    <div class="header-left">
         <button  class="btn-style btn-4" ng-click='back_to_activity_list()' ng-show="show">返回</button>
    </div>
</header>

<div id ="wrapper "  class="wrapper-inner" align="center">
    <div class="wrapper-inner"></div>
    <h4>活动名称：</h4>
    <input  ng-model="activity_name" class="input-full"  style="height: 30px" type='text'/>

    <h4 style="color: red"  ng-show="warning">活动名称重复</h4>

    <p>
       <button class="btn  btn-2"  ng-click="go_activity_sign_up()"  ng-disabled = !activity_name >创建</button>
    </p>
</div>


