
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建活动</title>
</head>
<body>


<header >
    创建活动
    <div class="header-left">
         <button  class="btn-style btn-4"   ng-click='back_to_activity_list()'>{{back}}</button>
    </div>
</header>


<div class="wrapper "  align="center">
    <h4>活动名称：</h4>
    <input  ng-model="activity_name"  class="input-full"  type='text'/>


    <p>
        <button class="btn-style btn-2 "  ng-click="go_activity_sign_up()">{{create_activity}}</button>
    </p>


</div>

</body>
</html>

