
<header class="header">
    {{jjnumber}}({{ jj_list | number}}人)
    <div class="header-left">
        <button class="side-slide-trigger my-btn-style btn-4" ng-click='back_to_price_list()'>返回</button>
    </div>
    <div class="header-right">
        <button class="my-btn-style btn-4" ng-click="click_end_button()"  ng-disabled='disabled_end_button'>结束</button>
    </div>
</header>

<ul class="list-style-1" >
    <li ng-repeat=" jj_person in jj_list " class="my-post-body">
        {{position(jj_person)}}
        {{jj_person.name}}<p>{{jj_person.phone}}</p>
    </li>
</ul>



