
<header class="header">
    竞价()人
    <div class="header-left">
        <button class="side-slide-trigger my-btn-style btn-4" ng-click='back_to_price_list()'>返回</button>
    </div>
    <div class="header-right">
        <button class="my-btn-style btn-4" ng-click="click_end_button()"  ng-disabled='disabled_end_button'>结束</button>
    </div>
</header>

<ul class="list-style-1">
    <li ng-repeat=" jj_person in jj_list ">
        <span> {{jj_person.name}}</span>
        <span class="position1">{{jj_person.phone}}</span>
    </li>
</ul>



