
<header class="header">
    {{jjnumber}}({{ jj_list | number}}人)
    <div class="header-left">
        <button class="side-slide-trigger my-btn-style btn-4" ng-click='back_to_price_list()'>返回</button>
    </div>
    <div class="header-right">
        <button class="my-btn-style btn-4" ng-click="click_list_button()" >列表</button>
    </div>
</header>

<ul class="list-style-1">
    <li ng-repeat=" price in price_object ">
        <span>￥ {{price.price}}</span>
        <span class="position1">{{price.number}}人</span>
    </li>
</ul>
